.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 25rem;

  img {
    display: block;
    width: auto;
    height: auto;
  }
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  header {
    h2 {
      color: var(--white);
      font-size: 3rem;
    }
  }
}

.postContent {
  & + div {
    margin-top: 3rem;
  }

  > h3 {
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  > div {
    color: var(--gray-100);

    p, ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 3rem;

      li {
        margin: 0.5rem 0;
      }
    }
  }
}
